

.Education-div{
  color: white;
  width: 80%;
}

.education-para{
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #f5f5f5;
  margin-bottom: 20px;
  color: white;
}
